<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<include resource="org/springframework/boot/logging/logback/base.xml"/>
	
	<springProfile name="default">
		<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
			<encoder>
				<pattern>${FILE_LOG_PATTERN}</pattern>
			</encoder>
			<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
				<level>WARN</level>
			</filter>
		</appender>

		<logger name="skbaek.dividemoney" level="DEBUG"/>

		<root level="INFO">
			<appender-ref ref="STDOUT"/>
		</root>
	</springProfile> 
</configuration>
